body {
  display: block;
  background: black;
  margin-top: 20px;
  /*max-height: 600px;*/

}

#container {
  position: relative;
  background-image: url(../Images/HauntedBackground1.jpg);
  background-size: 110%;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.ghost {
  position: absolute;
  width: 10%;
  left: -80px;
  right: 10px;
  top: 0px;
  bottom: 0px;

}

.ghostTwo {
  position: absolute;
  width: 10%;
  right: -600px;
  top: 100px;
  bottom: 0px;
}

.ghostRight {
  position: absolute;
  width: 10%;
  right: -300px;
  top: 150px;
}

.ghostCeiling {
  position: absolute;
  top: -100px;
  left: 200px;
  right: 0px;
}

.kingBoo {
  position: absolute;
  width: 20%;
  left: -200px;
  top: 0px;
  bottom: 0px;
  opacity: 0;

}
.yoshi {
  position: absolute;
  width: 20%;
  right: -200px;
  bottom: 0px;
  top: 0px;
}

.ghostThree {
  position: absolute;
  width: 10%;
  left: -700px;
  right: 10px;
  top: 0px;
  bottom: 60px;
}

.score {
  /*display: inline-block;*/
  margin: 0 auto;
  width: 600px;
  font-family: 'Creepster', cursive;
  display: none;
  
}

.inline-block{
  display: inline-block;
}

.score-text{
  margin: 10px 20px 10px 0px;
}

.escape-text{
  margin: 10px 20px 10px 0px; 
}

.red-text{
  color: red;
}

.green-text{
  color: green;
}

.startscreen{
  background-image: url(../Images/BooBackground.png);
  background-size: 110%;
  margin: 0 auto;
  width: 600px;
  height: 400px;
}


.logo{
  display: block;
  width: 40%;
  margin: 0 auto;
  padding-right: 50px;
  padding-top: 100px;
}

.start-button{
  display: block;
  margin: 0 auto;
  padding-right: 50px;
  background-color: black;
  color: white;
  border: 0px;
  font-family: 'Creepster', cursive;
  font-size: 30px;
}

h1 {
  color: white;
  font-size: 30px;
}

h2 {
  color: white;
  font-size: 30px;
}
