body {
  display: block;
  background: black;
  margin-top: 20px;
  max-height: 600px;

}

#container {
  position: absolute;
  background-image: url(../Images/HauntedBackground1.jpg);
  background-size: 110%;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  left: 300px;
  overflow: hidden;
}

.ghost {
  position: relative;
  width: 10%;
  left: -50px;
  right: 10px;
  top: 0px;
  bottom: 0px;

}

.ghostTwo {
  position: relative;
  width: 10%;
  right: -500px;
  top: 0px;
  bottom: 0px;
}

.ghostThree {
  position: relative;
  width: 10%;
  left: -50px;
  top: 0px;
  bottom: 0px;

}
.yoshi {
  position: relative;
  width: 20%;
  right: -500px;
  bottom: 0px;
  top: 0px;
}

.score {
  display: inline-block;
  margin-left: 900px;
}

.mushroom {
  position: relative;
  width: 10%;
  left: -50px;
}

h1 {
  color: white;
}

h2 {
  color: white;
}
